{% extends 'base.html.twig' %}

{% block title %}NomSport index{% endblock %}

{% block body %}
    <h1>NomSport index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for nom_sport in nom_sports %}
            <tr>
                <td>{{ nom_sport.id }}</td>
                <td>{{ nom_sport.nom }}</td>
                <td>
                    <a href="{{ path('app_nom_sport_show', {'id': nom_sport.id}) }}">show</a>
                    <a href="{{ path('app_nom_sport_edit', {'id': nom_sport.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_nom_sport_new') }}">Create new</a>
{% endblock %}
